name: CI/CD Docker
on:
  push:
    branches: [ "main" ]
    paths:
      - 'user-management/backend/**'
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./user-management/backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/user-management-be:latest